
#slovo{
    text-align: center;
}

body{
    background-image: 
        url("images/pozadi_vegetace.png"),
        url("images/pozadi_nebe_2.png");
    background-repeat: no-repeat, no-repeat;
    background-size: cover, cover;
}

#nadpis{
    color: red;
}

#buttons{
    padding-top: 10px;
}


#tlacitko2, #tlacitko1{
    padding-top: 10px;
}

#Nastaveni, #zpet{
    margin-left: 1380px;
    align-items: right;
    width: 100px;
    height: 28px;
    border-radius: 8px;
}

#buttons2{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
    
    
}

#buttons3{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}

#A, #B, #C, #D, #E, #F, #G, #H, #I, #J, #K, #L, #M, #N, #O, #P, #Q, #R, #S, #T, #U, #V, #W, #X, #Y, #Z{
    height: 30px;
    width: 30px;
    border-radius: 8px;
    margin-right: 5px;
    
}

#prostor{
    margin-top: 520px;
}

#slovo{
    display: flex;
    gap: 5px;
}

#pismeno{
    width: 20px;
}

.strana_viditelna{
    display: block;
}

.strana_vypnuta{
    display: none;
}
